
<div class="card" style="width: 18rem;">

    <img [src]= user.photo class="card-img-top" alt="photo User">

    <div class="card-body">

        <h5 class="card-text">Nom : <span style="text-transform: uppercase;"><b>{{user.name}}</b></span></h5>
        <h5 class="card-text mb-3">Prénom : <b>{{user.firstName}}</b></h5>
        
        <h5 class="card-text mb-3">Age : 
            <b *ngIf="hide">{{user.age}}</b>
        </h5>

        <h5 class="card-text" >Citation : <em>" {{user.quote}} "</em> </h5>

        <p>Change la citation de {{user.firstName}} :</p>

        <p ></p>

        <input 
            class="card-text mb-4" 
            type="text" 
            id="name" 
            [(ngModel)]="user.quote" 
            placeholder="Une citation pour {{user.firstName}}"
        >
    </div>
    <button class="btn btn-secondary mx-auto mb-4" (click)="changerEtat()">Afficher/Masquer <br> l'âge de {{user.firstName}}</button>

</div>

